body {
    font-family: sans;
    width: 600px;
    min-height: 600px;
}

p {
    margin-top: 70;
    margin-left: 20;
}

header {
    position: fixed;
    top: 0;
    background: #fff;
    width: 100%;
}

#tablist {
    display: flex;
    margin-bottom: 50;
}

.panel-list-item {
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

.panel-section-footer-button.default {
  background-color: #0996f8;
  box-shadow: 0 1px 0 #0670cc inset;
  color: #fff;
}


